<br>
<br>
<div class="container">
<% @projects.each do |proj| %>
  	<!-- Portfolio Item Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header"><%= proj.title %>
          <small><%= proj.subtitle %></small>
        </h1>
      </div>
    </div>
    <!-- /.row -->
    <!-- Portfolio Item Row -->
    <div class="row" id="project-bckg">
      <div class="col-md-8">
        <%= image_tag(proj.images.first, size: '600x280') %>
      </div>
      <div class="col-md-4">
        <h3>Project Description</h3>
        <p><%= proj.description %></p>
        <%= link_to 'Project Details', proj, class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
  </div>